*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
}

section {
  width: 500px;
}

.container {
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #000;
  top: 1px;
  margin: 7%;
  width: 500px;
}

nav {
  box-sizing: border-box;
  background-color: #000;
  padding: 0;
  position: fixed;
  width: 500px;
}

.restaurant-list {
  box-sizing: border-box;
  padding-top: 35px;
  border-width: 20px 15px 20px 15px;
  width: 500px;
}

h1 {
  font-weight: bold;
  font-size: 16px;
}

.location {
  width: 500px;
  border-bottom: .50px solid #000;
  height: 50px;
}

.location :hover {
  background-color: #ccc;
}

.content {
  padding: 10px 20px 10px 20px;
  display: block;
  width: 500px;
}

.arrow {
  box-sizing: border-box;
  display: inline;
  float: right;
  margin-right: 15px;
  position: relative;
  top: -32px;
}

.arrow-left {
  background-color: #000;
  padding: 7px;
}
